.App {
  background-color: #868686;
  background: linear-gradient(to bottom right, #FFFFFF, #B587FF);
  height: 100vh;
  overflow: hidden;
}

.text-violet {
  color: #8A2BE2;
}
@media (max-width: 576px) {
  .navbar {
      padding: 0;
  }
}
.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  width: 350px;
  height: 1000px;
  overflow-y: hidden;

}

.selected {
  
  background-color: #e0e0ee;
  
}

